@media (max-width:1200px) {
        .pricing__price-card {
          width: 33.333%;
          height: 30%;
          padding: 0 1%;
          margin-bottom: 20px;
        }
        .pricing__row {
          justify-content: flex-start;
        }
}
@media (max-width:1000px) {
        .pricing__price-card {
          width: 50%;
          padding: 0 1%;
          margin-bottom: 20px;
        }
        .info-box-three__row {
          width: 100%;
        }
        .info-box-three__map-link {
          padding: 0 15px 0 0;
          flex: 0 0 50%;
          background-image: url(/img/Map\ copy.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          transition: all .3s ease;
        }
        .info-box-three__map-link:hover {
          background-image: url(/img/Map\ copy1.png);
          filter: grayscale(20%);
        }
        .info-box-three__body {
          flex: 1 1 50%;
        }
        .about-us__info-cards {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 0 -20px;
          padding: 105px 0 85px 0;
        }
        .about-us__column {
          box-sizing: border-box;
          flex: 1 1 47%;
          padding: 20px 10px 20px 10px;
          margin: 7px;
        }
        .about-us__icon {
          width: 155px;
          height: 155px;
          border-radius: 25%;
  }
        .about-us__subtitle {
          padding: 30px 0 20px 0;
          line-height: 20px;
        }
        .about-us__text {
          width: 70%;
        }
        .our-services__item {
          padding: 0 12px 70px 0px;
          flex-direction: column;
          align-items: center;
        }
        .our-services__text-block {
          padding: 20px 0 0 0px;
          text-align: center;
          
  }
}
@media (max-width:1000px) {
        .content-title {
          line-height: 36px;
          text-align: center;
        }
        .pricing__more-btn {
          z-index: 100;
          display: inline-block;
          background-color:  #17daa3;
          font-size: 20px;
          font-family: "Proxima Nova";
          font-weight: 300;
          letter-spacing: 1px;
          margin: 20px 0 10px 0;
          text-transform: uppercase;
          border-radius: 4px;
          padding: 3px 10px;
          color: #fff;
          width: 100px;
          align-self: center;
          transition: .3s;
        }
        .pricing__more-btn.active {
          color: #17daa3;
          background-color: #fff;
          box-shadow: 0px 10px 10px #e7e7e73a;
        }
        .pricing__more-btn:hover {
          color: #17daa3;
          background-color: #fff;
          box-shadow: 0px 10px 10px #e7e7e73a;
        }
        .pricing__text {
          display: none;
        }
        .pricing__text.active {
          display: block;
        }
        .pricing__line {
          padding: 0px 0;
          display: none;
        }
        .about-us__info-cards {
          justify-content: center;
          text-align: center;
        }
        .info-box__body {
          padding: 0 15px;
          width: 50%;
        }
        .info-box-first__row {
          /* justify-content: center; */
          flex-wrap: nowrap;
          padding: 60px 20px;
          display: block;
        }
        .info-box-second__row {
          /* justify-content: center; */
          padding: 60px 20px;
          flex-wrap: nowrap;
        }
        .info-box__image  {
          width: 50%;
          padding: 0 15px 0 0;
        }

        .info-box__text {
          padding: 15px 0 33px 0;
        }

        .info-box-three__container {

        }
        .info-box-three__wrap {
        }
  
        .info-box-three__row {
          flex-direction: column;
          padding: 80px 20px;
          margin: 0 0px;
        }
        .info-box-three__map-link {
          width: 50%;
        }
        .info-box-three__map-link img {
          max-width: 100%;
        }
        .info-box-three__map-image {
          padding: 0 0px;
          width: 100%;
        }
        .info-box-three__map-image-hover {
          padding: 0 0px;
          width: 100%;
          display: none;
        }
        .info-box-three__body {
          padding: 30px 0 0 0;
          width: 100%;
        }
}
@media (max-width:900px) {
      .meet-our-team__row {
        padding: 100px 0 0 0;
        display: flex;
        flex-wrap: wrap;
      }

      .meet-our-team__items {
        flex: 0 0 25%;
        position: relative;
        display: inline-block;
      }
      .img {
        width: 100%;
        display: block;
      }
}
@media (max-width: 790px) {
        .info-box__title {
          font-size: 40px;
        }  
}
@media (max-width:767px) {
        .info-box-three__row {
          padding: 80px 20px;
        }
        .header__logo-txt {
          font-family: 'Quicksand', sans-serif;
          font-size:38px;
          color: #fff;
          font-weight: 600;
          letter-spacing: 2px;
        }
        .header__logo-txt span {
          font-size: 50px;
        }
        .meet-our-team__overlay {
          display: none;
          opacity: 0;
          transition: all ease .4s;
        }
        .meet-our-team__overlay.active {
          display: inline-block;
          opacity: 1;
        }
        .pricing__section {
          padding: 60px 0 30px 0;
        }
        .pricing__row {
          padding: 50px 0 0 0;
        }
        .info-box-first__row {
          /* justify-content: center; */
          flex-wrap: nowrap;
          padding: 80px 20px;
          display: block;
        }
        .info-box-second__row {
          /* justify-content: center; */
          padding: 80px 20px;
          flex-wrap: nowrap;
          display: block;
        }
        .info-box-three__map-link {
          width: 350px;
        }
        .info-box__image  {
          float: left;
          width: 350px;
          padding: 0 15px 0 0;
        }
        .inb-2-img {
          float: right;
        }
        .inb-2-txt {
          text-align: left;
        }
        .info-box .more-btn {
          position: relative;
          overflow: hidden;
        }
        .info-box .more-btn__link {
          position: absolute;
          left: 40%;
        }
        .info-box-three .more-btn__link {
          position: absolute;
          left: 38%;
        }
        .info-box__text {
          line-height: 30px;
        }
        .our-services__subtitle {
          padding: 0 0 20px 0;
          font-size: 40px;
          line-height: 30px;
        }
        .our-services__text {
          line-height: 30px;
        }
        .info-box__text {
          padding: 22px 0 53px 0;
          font-size: 17px;
          line-height: 30px;
        }
        .try-our-template__container {
          padding: 50px 0;
        }



        .footer__row {
          padding: 10px 0 40px 0;
          flex-direction: column;
          align-items: flex-start;
        }
        .footer__background {
          background-size: 100%;
          height: 100%;
        }
        .footer__logo {
          align-self: center;
          padding: 0 0 50px 0;
        }
        .footer__title {
          padding: 0 0 0 0px;
        }
        .footer__items {
          flex-direction: column;
          flex-wrap: wrap;
        }
        .footer__item {
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 400;
          letter-spacing: 1px;
        }
        .footer__item:not(first-child) {
          margin-top: 10px;
          margin-left: 0px;
        }
        .container {
          padding: 0 3%;
        }
        .more-btn__link {
          padding: 13px 34px;
          font-size: 12px;
        }
}
@media (max-width:750px) {
        .meet-our-team__items {
          flex: 0 0 33.333%;
        }
        .try-our-template__container {
          min-height: 400px;
        }
        .try-our-template__column {
          width: 100%;
        }
        .try-our-template__title {
          font-size: 2em;
          padding: 0 0 40px 0;
        }
        .try-our-template__link {
          padding: 15px 23px;
          font-size: 10px;
        }
  

}
@media (max-width:700px) {
        .info-box-three__map-link {
          width: 55%;
        }
        .info-box__image {
          width: 55%;
        }
        .info-box__title {
          font-size: 30px;
        }
        .info-box__text {
          padding: 0 0 23px 0;
          line-height: 25px;
        }
}
@media (max-width:270px) {
        .our-services__text-block {
          align-items: center;
        }
        
        .our-services__item {
          padding: 0 0 50px 0px;
          flex-direction: column;
          align-items: center;
          flex: 1 1 100%;
        }   
        .our-services__text {
          line-height: 30px;
          width: 80%;
          align-self: center;
        }
}
@media (max-width:652px) {
        .info-box__image {
          flex: 0 0 100%;
          padding: 0 15px 0 0;
          
        }
        .pricing__section {
          padding: 50px 0;
        }
        .pricing__row {
          padding: 40px 0 0 0;
        }
        .pricing__price {
          font-size: 50px;
          padding: 10px 10px 5px 10px;
        }
        .pricing__more-btn {
          display: inline-block;
          background-color:  #17daa3;
          font-size: 20px;
          font-family: "Proxima Nova";
          font-weight: 300;
          letter-spacing: 1px;
          margin: 20px 0 10px 0;
          text-transform: uppercase;
          border-radius: 4px;
          padding: 3px 10px;
          color: #fff;
          width: 100px;
          align-self: center;
          transition: .3s;
        }
        .pricing__more-btn.active {
          color: #17daa3;
          background-color: #fff;
          box-shadow: 0px 10px 10px #e7e7e73a;
        }
        .pricing__more-btn:hover {
          color: #17daa3;
          background-color: #fff;
          box-shadow: 0px 10px 10px #e7e7e73a;
        }
        .pricing__text {
          display: none;
          line-height: 30px;
          padding: 0 20px 30px 10px;
        }
        .pricing__text.active {
          display: block;
        }
        .pricing__line {
          padding: 0px 0;
          display: none;
        }
        .meet-our-team__section {
          padding: 50px 0 0 0;
        }
        .meet-our-team__row {
          padding: 50px 0 0 0px;
        }
        .meet-our-team__column .content-title {
          padding: 0 15px;
        }
        .slidertwo-container {
          display: none;
        }
        .info-box-three__row {
          padding: 70px 15px;
        }
        .info-box-first__row {
          justify-content: center;
          padding: 70px 30px;
        }
        .info-box-second__row {
          justify-content: center;
          padding: 70px 30px;
        }
        .content-title {
          line-height: 50px;
        }
        .content-title__maintitle {
          font-size: 35px;
        }
        .content-title__subtitle {
          line-height: 30px;
        }
        .about-us__column {
          flex: 1 1 100%;
          padding: 50px 10px 10px 10px;
          box-shadow: 1px 3px 15px #e6e6e688;
          margin: 5px 5px;
          border-radius: 4px;
        }
        .about-us__text {
          width: 60%;
          line-height: 27px;
        }
        .about-us__subtitle {
          padding: 30px 0 20px 0;
          line-height: 20px;
        }
        .about-us__info-cards {
          padding: 35px 0 55px 0;
        }
        .about-us__icon {
          width: 115px;
          height: 115px;
  }
        .our-services__item {
          padding: 0 12px 50px 0px;
          flex-direction: column;
          align-items: center;
          flex: 1 1 100%;
        }
        .our-services__text-block {
          padding: 20px 20px 0 20px;
          text-align: center;
        }
        .our-services__subtitle {
          padding: 0 0 20px 0;
          font-size: 40px;
          line-height:30px;
        }
        .our-services__text {
          font-size: 17px;
          line-height: 30px;
        }
        .our-services__items {
          padding: 60px 0 0 0;
        }
        .our-services__section {
          padding: 50px 0 30px 0;
        }      
}
@media(max-width:600px){
        .more-btn__link {
          padding: 13px 34px;
          font-size: 12px;
        }
        .try-our-template__container {
          min-height: 250px;

        }
        .try-our-template__link {
          padding: 13px 20px;
          font-size: 10px;
          letter-spacing: 1px;
        }
        .try-our-template__title {
          font-size: 1.8em;
        }
        .pricing__price-card {
          flex: 1 1 100%;
          align-self: stretch;
          padding: 0 15px;
          transition: .4s;
          margin-bottom: 20px;
        }
}
@media(max-width:550px) {
        .our-services__text {
          line-height: 30px;
          width: 100%;
          align-self: center;
        }
        .meet-our-team__row {
          padding: 30px 0 0 0;
        }

        .meet-our-team__items {
          flex: 0 0 50%;
        }
        .img {
          width: 100%;
          display: block;
        }
        .info-box__image {
          flex: 0 0 100%;
        }
        .info-box__body {
          text-align: center;
        }
        .info-box__title {
          font-size: 30px;
        }
        .info-box__text {
          font-size: 16px;
          text-align: left;
        }
        .about-us__subtitle {
          padding: 30px 0 20px 0;
          line-height: 20px;
        }
}
@media (max-width: 500px) and (orientation: portrait) {
        .info-box-three__map-link {
          width: 100%;
        }
        .info-box__image {
          width: 100%;
        }
        .info-box__text {
          line-height: 28px;
          font-size: 18px;
        }
        .info-box__title {
          font-size: 40px;
        }
        .info-box .more-btn__link {
          left: 30%;
        }
        .info-box-three .more-btn__link {
            left: 30%;
          }
}
@media (max-width:400px) {
        /* .our-services__item {
          background-color: #ffffff;
          box-shadow: 1px 5px 25px #d3d3d371;
          padding: 10px 22px 15px 22px;
          margin: 0 15px 15px 15px ;
          border-radius: 3px;
        } */
        .about-us__column {
          padding: 20px 5px 20px 5px;
          box-shadow: 1px 5px 15px #f1f0f071;
          margin: 5px 5px;
        }
        .about-us__text {
          width: 100%;
          font-size: 16px;
          line-height: 25px;
        }
        .about-us__icon {
          width: 115px;
          height: 115px;
          border-radius: 50%;
        }  
}
@media (max-width:360px) {
        .meet-our-team__overlay-text {
          font-size: 25px;
        }
        .about-us__text {
          width: 100%;
          font-size: 16px;
          line-height: 23px;
        }
}

/* HEADER-ADAPT */

@media(max-width:767px) {
        body.lock {
          overflow: hidden;
        }
        .header {
          min-height: 50px;
          position: fixed;
          width: 100%;
          left: 0;
          top: 0;
          z-index: 1001;
          transition: all ease .4s;
        }
        .header.out {
          transform: translateY(-100%);
        }
        .header::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #07bd89;
          z-index: 3;
          transition: 1s all ease;
        }
        .header.active::before {
          background-color: #07bd89;
        }
        .header__section {
          min-height: 50px;
          background-image: none;
          background-size: cover;
        }
        .header__column {
          padding: 0 0 0 0;
          min-height: 50px;
        }
        .header__container {
          padding: 0 0 0 25px;
        }
        .header__row {
          position: relative;
          min-height: 50px;
        }
        .search__form {
          z-index: 4;
        }
        .header__burger {
          display: block;
          position: relative;
          width: 30px;
          height: 20px;
          z-index: 4;
        }

        .header__burger span {
          background-color: #fff;
          position: absolute;
          width: 100%;
          height: 2px;
          top: 9px;
          transition: all .4s ease;
        }
        .header__burger:before {
          content: '';
          background-color: #fff;
          position: absolute;
          width: 100%;
          height: 2px;
          top: 0;
          transition: all .4s ease;
          
        }
        .header__burger:after {
          content: '';
          background-color: #fff;
          position: absolute;
          width: 100%;
          height: 2px;
          bottom: 0;
          transition: all .4s ease;
        }

        .header__burger.active span {
          transform: scale(0);
        }
        .header__burger.active::before {
          transform: rotate(45deg);
          top: 9px;
        }
        .header__burger.active:after {
          transform: rotate(-45deg);
          bottom: 9px;
        }
        .header__nav {
          padding: 100px 0 0 0;
          position: fixed;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100vh;
          background-color: #34836d;
          overflow: auto;
          background-size: cover;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          transition-duration: .4s, .5s;
          transition-property: filter, left;
          filter: opacity(70%);
        }
        .header__nav.active {
          filter: opacity(100%);
          height: 110vh;
          left: 0;
          align-items: flex-start;
        }
        .header__logo {
          position: relative;
          z-index: 4;
        }
        .header__navbar {
          padding: 0 0 0 20px;
          display: block;
          text-align: left;
        }
        .header__navbar-item {
          margin: 20px 0px;
          border-bottom: none;
          font-size: 30px;
          font-weight: 400;
          line-height: 50px;
          letter-spacing: 5px;
          
        }
        .header__navbar-item:hover {
          border-bottom: none;
          padding: 0px 0 0px 0;
          color: #17daa3;
        }
        .search__form {
          position: absolute;
          top: 100%;
          left: 100%;
          width: 120%;
          height: 50px;
          z-index: 0;
          transition: all ease .3s;
        }
        .search__form.out {
          transform: translateY(-100%);
        }
        .search__form.active {
          top: 100%;
          left: -25px;
        }
        .search__box.active {
          border-bottom: 1px solid #00000000;
  
        }
        .search__box > .search__txt.active {
          width: 100%;
        }
        .search__txt {
          width: 100%;
          padding: 0px 20px;
          height: 50px;
          background-color: #02b380;
        }
        .search__btn {
          position: absolute;
          right: 13%;
          width: 20px;
          height: 20px;
          transition: .1s;
          z-index: 5;
        }
        .search__btn {
          display: none;
        }
        .search__btn:hover {
          cursor: pointer;
          color:#17daa3;
        }
        .fa-search {
          transition: .2s;
        }
        .fa-search.active {
          transform: rotate(0deg);
          color: #fff;
        }
        .fa-search:active {
          font-size: 15px;
        }
        .mobile__search {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          width: 50px;
          height: 50px;
          color: #fff;
          z-index: 4;
          background: none;
          outline: none;
        }
        .mobile__search::before {
          content: '';
          position: absolute;
          top: 0;
          left: 150px;
          width: 50px;
          height: 50px;
          background-color: #02b380;
          border-radius: 10px 0 0 10px;
          transition: all ease .6s;
          opacity: 0;
        }
        .mobile__search.active::before {
          opacity: 1;
          left: 0;
          background-color: #02b380;
          border-radius: 10px 0 0 0px;
        }
        .mobile__search .fa-search {
          position: relative;
          z-index: 4;
        }
        .search__txt::placeholder {
          color: #fff;
        }
        .about-us__section {
          padding: 130px 0 50px 0;
        }

        .search-reset {
          position: absolute;
          left: 79.5%;
          display: inline-block;
          z-index: 5;
          transition: all ease .2s;
        }
        .search-reset:active {
          transform: scale(0.85);
        }
        .header__link {
          display: none;
        }
        
}

@media(max-width:1064px) and (min-width:767px) {
        .search__box.active {
          border-bottom: none;
        }
        .search__box > .search__txt.active {
          width: 100%;
        }
        .search__txt {
          position: absolute;
          top: -73%;
          left: 0;
          width: 100%;
          height: 50px;
          background-color: #17daa007;
          border-bottom: 1px solid #17daa1;
          display: none;
          opacity: 0;
        }
        .search__txt.active {
          display: block;
          opacity: 1;
          top: 150%;

        }
        .search__btn {
          width: 20px;
          height: 20px;
          transition: .1s;
          z-index: 5;
        }
        .search__btn {
          display: inline-block;
        }
        .fa-search.active {
          color: #09bd87;
        }
        .fa-search:active {
          font-size: 15px;
        }
}